name: Final Deployment Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  integration:
    uses: ./.github/workflows/deploy-environment.yml
    permissions:
      contents: read

  delivery:
    needs: [integration]
    uses: ./.github/workflows/deploy-environment.yml
    permissions:
      contents: read
      packages: write
      id-token: write

  deployment:
    needs: [delivery]
    uses: ./.github/workflows/deploy-environment.yml
    permissions:
      packages: read
    secrets: inherit